absl-py==2.0.0
aiofiles==23.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.1
aiosignal==1.3.1
alembic==1.13.1
altair==5.1.2
antropy==0.1.6
anyio==4.2.0
appnope==0.1.3
arviz==0.20.0
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
bids-validator==1.14.0
biosignalsnotebooks==0.6.7
blinker==1.7.0
bokeh==1.4.0
cachetools==5.3.2
cbor2==5.6.5
certifi==2023.7.22
certvalidator==0.11.1
cffi==1.16.0
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
colorlog==6.8.2
comm==0.2.0
cons==0.4.6
contourpy==1.2.0
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.10
DateTime==5.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
easydev==0.13.2
einops==0.8.0
et-xmlfile==1.1.0
etuples==0.3.9
executing==2.0.1
fastjsonschema==2.19.0
fathom==0.4.1
fathon @ file:///Users/is/PycharmProjects/seege_/fathon
filelock==3.15.4
flatbuffers==23.5.26
fonttools==4.44.0
formulaic==0.5.2
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.5.4
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphql-core==3.2.3
graphviz==0.20.3
grpcio==1.59.2
h11==0.14.0
h5netcdf==1.4.1
h5py==3.10.0
httpcore==1.0.2
httpx==0.26.0
idna==3.4
imageio==2.34.0
importlib-metadata==6.8.0
interface-meta==1.3.0
ipykernel==6.26.0
ipython==8.17.2
jedi==0.19.1
Jinja2==3.0.0
joblib==1.4.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==2.14.0
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
libmagic==1.0
lightning-utilities==0.11.6
line_profiler==4.1.3
llvmlite==0.42.0
lmdb==1.5.1
logical-unification==0.4.6
lxml==5.3.0
Mako==1.3.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
metakernel==0.30.2
MFDFA==0.4.3
miniKanren==1.0.3
ml-dtypes==0.2.0
mne==1.7.0
mne-bids==0.14
mne-connectivity==0.7.0
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
nbformat==5.9.2
nest-asyncio==1.5.8
netCDF4==1.7.1.post1
networkx==3.2.1
neurokit2==0.2.7
nibabel==5.2.0
node2vec==0.5.0
num2words==0.5.13
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
oct2py==5.8.0
octave_kernel==0.36.0
opencv-python==4.9.0.80
openneuro-py==2024.1.0
openpyxl==3.1.5
opt-einsum==3.3.0
optuna==3.6.1
oscrypto==1.3.0
packaging==23.2
pandas==2.1.2
parso==0.8.3
pathlib2==2.3.7.post1
pathspec==0.5.5
patsy==0.5.3
pexpect==4.9.0
Pillow==10.1.0
piwavelet==1.0.3
platformdirs==4.2.2
plotly==5.24.1
pooch==1.8.0
POT==0.9.5
prdc==0.2
prettytable==3.10.2
prompt-toolkit==3.0.39
protobuf==4.25.0
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybids==0.16.4
pycparser==2.22
pycwt==0.4.0b0
pydeck==0.8.1b0
pydot==2.0.0
pyentrp==0.9.0
Pygments==2.17.2
pyhpke==0.6.1
pymc==5.19.1
pynndescent==0.5.13
pyparsing==3.1.1
pytensor==2.26.4
python-dateutil==2.8.2
python-magic==0.4.27
pytorch-lightning==2.4.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.9.4
rpds-py==0.12.0
rsa==4.9
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
sgqlc==16.3
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
spectrum==0.8.1
spektral==1.3.1
SQLAlchemy==2.0.23
stack-data==0.6.3
statsmodels==0.14.0
stochastic==0.6.0
streamlit==1.28.1
sympy==1.13.1
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2024.2.12
tk==0.1.0
toml==0.10.2
toolz==0.12.0
torch==2.4.0
torcheeg==1.1.2
torchmetrics==1.4.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
tsfel==0.1.7
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
umap-learn==0.5.7
urllib3==2.0.7
validators==0.22.0
wcwidth==0.2.9
Werkzeug==3.0.1
wfdb==4.1.2
wget==3.2
wrapt==1.14.1
xarray==2024.7.0
xarray-einstats==0.8.0
xlrd==2.0.1
xmltodict==0.13.0
xyzservices==2023.10.1
yarl==1.9.4
zipp==3.17.0
zope.interface==6.1
